In [60]:
import pandas as pd

in this mini project we are going to check the quality of the dataset.
we are going to use this photo as a reference to what steps we are going to take.
![](images/Capture.PNG)

In [61]:
#read the data
transactions = pd.read_excel('data/KPMG_VI_New_raw_data_update_final.xlsx',sheet_name='Transactions')
new_customer_list = pd.read_excel('data/KPMG_VI_New_raw_data_update_final.xlsx',sheet_name='NewCustomerList')
customer_demographic = pd.read_excel('data/KPMG_VI_New_raw_data_update_final.xlsx',sheet_name='CustomerDemographic')
customer_address = pd.read_excel('data/KPMG_VI_New_raw_data_update_final.xlsx',sheet_name='CustomerAddress')

In [62]:
#change column headings
sheet_list = [transactions,new_customer_list,customer_demographic,customer_address]
for x in sheet_list:
    x.columns = x.iloc[0]
    print(x.columns)

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object', name=0)
Index([                         'first_name',
                                 'last_name',
                                    'gender',
       'past_3_years_bike_related_purchases',
                                       'DOB',
                                 'job_title',
                     'job_industry_category',
                            'wealth_segment',
                        'deceased_indicator',
                                  'owns_car',
                                    'tenure',
                                   'address',
                                  'postcode',
                                     'state',
                                   'country',
                        'property_valuation',
                                         nan,
                                         nan,
                                         nan,
                                         nan,
                                         nan,
                                      'Rank',
                                     'Value'],
      dtype='object', name=0)
Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object', name=0)
Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object', name=0)

In [63]:
#drop the first row since its a repetition of the headings
transactions = transactions.drop(transactions.index[0])
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145
5,5,78,787,2017-10-01 00:00:00,True,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,42226

In [64]:
new_customer_list = new_customer_list.drop(new_customer_list.index[0])
new_customer_list.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
1,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.56,0.7000,0.8750,0.743750,1.0,1,1.71875
2,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.89,0.8900,1.1125,0.945625,1.0,1,1.71875
3,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,1.01,1.0100,1.0100,1.010000,1.0,1,1.71875
4,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.87,1.0875,1.0875,1.087500,4.0,4,1.703125
5,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.52,0.5200,0.6500,0.650000,4.0,4,1.703125

In [65]:
customer_demographic = customer_demographic.drop(customer_demographic.index[0])
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7
5,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8

In [66]:
customer_address = customer_address.drop(customer_address.index[0])
customer_address.head()

,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,New South Wales,Australia,10
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
3,4,0 Holy Cross Court,4211,QLD,Australia,9
4,5,17979 Del Mar Point,2448,New South Wales,Australia,4
5,6,9 Oakridge Court,3216,VIC,Australia,9

Now that we have loaded all the data It's time to explore it and check for its quality
#Accuracy
Accuracy is ensuring that the dataset has correct values in each column.
Is the data an accurate representation of the element it describes

In [74]:
print(transactions.info())
for col in transactions.columns:
    print(col)
    print(transactions[col].unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  object
 1   product_id               20000 non-null  object
 2   customer_id              20000 non-null  object
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  object
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  object
dtypes: object(13)
memory usage: 2.1+ MB
None
transaction_id
[1 2 3 ... 19998 19999 20000]
product_id
[2 3 37 88 78 25 22 15 67 12 5 61 35 16 79 33 54 27 82 89 64 19 72 91 1 99
 0 92 14 44 76 46 55 66 81 86 32 77 96 6 47 94 93 60 28 4 38 56 58 50 80
 87 84 21 31 62 17 73 45 49 95 18 70 26 39 36 98 75 42 20 24 53 65 29 11
 10 7 41 9 69 90 97 100 74 71 34 57 23 51 59 63 40 8 13 30 48 68 83 43 52
 85]
customer_id
[2950 3120 402 ... 130 2789 3446]
transaction_date
[datetime.datetime(2017, 2, 25, 0, 0) datetime.datetime(2017, 5, 21, 0, 0)
 datetime.datetime(2017, 10, 16, 0, 0)
 datetime.datetime(2017, 8, 31, 0, 0) datetime.datetime(2017, 10, 1, 0, 0)
 datetime.datetime(2017, 3, 8, 0, 0) datetime.datetime(2017, 4, 21, 0, 0)
 datetime.datetime(2017, 7, 15, 0, 0) datetime.datetime(2017, 8, 10, 0, 0)
 datetime.datetime(2017, 8, 30, 0, 0) datetime.datetime(2017, 1, 17, 0, 0)
 datetime.datetime(2017, 1, 5, 0, 0) datetime.datetime(2017, 2, 26, 0, 0)
 datetime.datetime(2017, 9, 10, 0, 0) datetime.datetime(2017, 6, 11, 0, 0)
 datetime.datetime(2017, 10, 10, 0, 0) datetime.datetime(2017, 4, 3, 0, 0)
 datetime.datetime(2017, 6, 2, 0, 0) datetime.datetime(2017, 4, 6, 0, 0)
 datetime.datetime(2017, 1, 28, 0, 0) datetime.datetime(2017, 10, 9, 0, 0)
 datetime.datetime(2017, 6, 29, 0, 0) datetime.datetime(2017, 4, 8, 0, 0)
 datetime.datetime(2017, 10, 18, 0, 0)
 datetime.datetime(2017, 1, 10, 0, 0) datetime.datetime(2017, 4, 11, 0, 0)
 datetime.datetime(2017, 12, 23, 0, 0)
 datetime.datetime(2017, 10, 13, 0, 0)
 datetime.datetime(2017, 3, 15, 0, 0) datetime.datetime(2017, 9, 5, 0, 0)
 datetime.datetime(2017, 2, 18, 0, 0) datetime.datetime(2017, 3, 20, 0, 0)
 datetime.datetime(2017, 2, 28, 0, 0) datetime.datetime(2017, 8, 20, 0, 0)
 datetime.datetime(2017, 7, 7, 0, 0) datetime.datetime(2017, 1, 9, 0, 0)
 datetime.datetime(2017, 12, 6, 0, 0) datetime.datetime(2017, 9, 12, 0, 0)
 datetime.datetime(2017, 11, 28, 0, 0) datetime.datetime(2017, 5, 8, 0, 0)
 datetime.datetime(2017, 5, 14, 0, 0) datetime.datetime(2017, 3, 17, 0, 0)
 datetime.datetime(2017, 12, 22, 0, 0) datetime.datetime(2017, 6, 7, 0, 0)
 datetime.datetime(2017, 6, 20, 0, 0) datetime.datetime(2017, 5, 7, 0, 0)
 datetime.datetime(2017, 6, 10, 0, 0) datetime.datetime(2017, 6, 17, 0, 0)
 datetime.datetime(2017, 5, 10, 0, 0) datetime.datetime(2017, 3, 24, 0, 0)
 datetime.datetime(2017, 11, 27, 0, 0)
 datetime.datetime(2017, 12, 21, 0, 0) datetime.datetime(2017, 2, 9, 0, 0)
 datetime.datetime(2017, 9, 18, 0, 0)
 datetime.datetime(2017, 11, 14, 0, 0)
 datetime.datetime(2017, 2, 15, 0, 0)
 datetime.datetime(2017, 12, 18, 0, 0)
 datetime.datetime(2017, 2, 24, 0, 0)
 datetime.datetime(2017, 12, 17, 0, 0) datetime.datetime(2017, 7, 8, 0, 0)
 datetime.datetime(2017, 5, 16, 0, 0) datetime.datetime(2017, 2, 23, 0, 0)
 datetime.datetime(2017, 7, 3, 0, 0) datetime.datetime(2017, 9, 30, 0, 0)
 datetime.datetime(2017, 10, 21, 0, 0) datetime.datetime(2017, 5, 6, 0, 0)
 datetime.datetime(2017, 1, 3, 0, 0) datetime.datetime(2017, 5, 9, 0, 0)
 datetime.datetime(2017, 7, 23, 0, 0) datetime.datetime(2017, 1, 21, 0, 0)
 datetime.datetime(2017, 3, 10, 0, 0) datetime.datetime(2017, 11, 7, 0, 0)
 datetime.datetime(2017, 12, 16, 0, 0)
 datetime.datetime(2017, 10, 7, 0, 0) datetime.datetime(2017, 4, 27, 0, 0)
 datetime.datetime(2017, 4, 1, 0, 0) datetime.datetime(2017, 11, 2, 0, 0)
 datetime.datetime(2017, 2, 13, 0, 0) datetime.datetime(2017, 7, 19, 0, 0)
 datetime.datetime(2017, 5, 23, 0, 0) datetime.datetime(2017, 8, 6, 0, 0)
 datetime.datetime(2017, 4, 4, 0, 0) datetime.datetime(2017, 8, 15, 0, 0)
 datetime.datetime(2017, 4, 15, 0, 0) datetime.datetime(2017, 7, 25, 0, 0)
 datetime.datetime(2017, 2, 21, 0, 0) datetime.datetime(2017, 5, 31, 0, 0)
 datetime.datetime(2017, 6, 23, 0, 0) datetime.datetime(2017, 3, 26, 0, 0)
 datetime.datetime(2017, 7, 31, 0, 0) datetime.datetime(2017, 7, 27, 0, 0)
 datetime.datetime(2017, 4, 14, 0, 0)
 datetime.datetime(2017, 11, 12, 0, 0)
 datetime.datetime(2017, 10, 26, 0, 0)
 datetime.datetime(2017, 10, 11, 0, 0)
 datetime.datetime(2017, 3, 27, 0, 0) datetime.datetime(2017, 11, 4, 0, 0)
 datetime.datetime(2017, 10, 24, 0, 0) datetime.datetime(2017, 5, 1, 0, 0)
 datetime.datetime(2017, 11, 21, 0, 0)
 datetime.datetime(2017, 3, 21, 0, 0) datetime.datetime(2017, 2, 20, 0, 0)
 datetime.datetime(2017, 6, 16, 0, 0) datetime.datetime(2017, 12, 4, 0, 0)
 datetime.datetime(2017, 12, 1, 0, 0) datetime.datetime(2017, 3, 5, 0, 0)
 datetime.datetime(2017, 3, 16, 0, 0) datetime.datetime(2017, 6, 5, 0, 0)
 datetime.datetime(2017, 9, 4, 0, 0) datetime.datetime(2017, 1, 18, 0, 0)
 datetime.datetime(2017, 9, 28, 0, 0) datetime.datetime(2017, 9, 2, 0, 0)
 datetime.datetime(2017, 10, 17, 0, 0)
 datetime.datetime(2017, 4, 25, 0, 0) datetime.datetime(2017, 9, 23, 0, 0)
 datetime.datetime(2017, 8, 2, 0, 0) datetime.datetime(2017, 3, 25, 0, 0)
 datetime.datetime(2017, 1, 1, 0, 0) datetime.datetime(2017, 12, 25, 0, 0)
 datetime.datetime(2017, 1, 26, 0, 0)
 datetime.datetime(2017, 12, 20, 0, 0)
 datetime.datetime(2017, 1, 13, 0, 0)
 datetime.datetime(2017, 11, 11, 0, 0)
 datetime.datetime(2017, 8, 19, 0, 0) datetime.datetime(2017, 8, 22, 0, 0)
 datetime.datetime(2017, 9, 15, 0, 0) datetime.datetime(2017, 3, 1, 0, 0)
 datetime.datetime(2017, 8, 16, 0, 0) datetime.datetime(2017, 8, 27, 0, 0)
 datetime.datetime(2017, 7, 10, 0, 0)
 datetime.datetime(2017, 12, 11, 0, 0)
 datetime.datetime(2017, 5, 20, 0, 0) datetime.datetime(2017, 7, 30, 0, 0)
 datetime.datetime(2017, 10, 25, 0, 0)
 datetime.datetime(2017, 4, 26, 0, 0) datetime.datetime(2017, 2, 2, 0, 0)
 datetime.datetime(2017, 5, 2, 0, 0) datetime.datetime(2017, 10, 22, 0, 0)
 datetime.datetime(2017, 11, 16, 0, 0)
 datetime.datetime(2017, 3, 30, 0, 0) datetime.datetime(2017, 4, 13, 0, 0)
 datetime.datetime(2017, 1, 31, 0, 0) datetime.datetime(2017, 3, 18, 0, 0)
 datetime.datetime(2017, 1, 7, 0, 0) datetime.datetime(2017, 7, 5, 0, 0)
 datetime.datetime(2017, 11, 19, 0, 0)
 datetime.datetime(2017, 11, 8, 0, 0) datetime.datetime(2017, 7, 24, 0, 0)
 datetime.datetime(2017, 1, 15, 0, 0) datetime.datetime(2017, 1, 12, 0, 0)
 datetime.datetime(2017, 6, 30, 0, 0) datetime.datetime(2017, 6, 22, 0, 0)
 datetime.datetime(2017, 12, 27, 0, 0) datetime.datetime(2017, 6, 8, 0, 0)
 datetime.datetime(2017, 7, 29, 0, 0) datetime.datetime(2017, 5, 27, 0, 0)
 datetime.datetime(2017, 5, 5, 0, 0) datetime.datetime(2017, 9, 9, 0, 0)
 datetime.datetime(2017, 9, 22, 0, 0) datetime.datetime(2017, 4, 12, 0, 0)
 datetime.datetime(2017, 12, 14, 0, 0)
 datetime.datetime(2017, 3, 22, 0, 0)
 datetime.datetime(2017, 11, 29, 0, 0) datetime.datetime(2017, 6, 9, 0, 0)
 datetime.datetime(2017, 11, 13, 0, 0) datetime.datetime(2017, 4, 9, 0, 0)
 datetime.datetime(2017, 11, 30, 0, 0)
 datetime.datetime(2017, 3, 13, 0, 0) datetime.datetime(2017, 8, 12, 0, 0)
 datetime.datetime(2017, 8, 4, 0, 0) datetime.datetime(2017, 9, 1, 0, 0)
 datetime.datetime(2017, 7, 2, 0, 0) datetime.datetime(2017, 3, 11, 0, 0)
 datetime.datetime(2017, 10, 8, 0, 0)
 datetime.datetime(2017, 11, 23, 0, 0)
 datetime.datetime(2017, 1, 22, 0, 0) datetime.datetime(2017, 1, 29, 0, 0)
 datetime.datetime(2017, 7, 21, 0, 0) datetime.datetime(2017, 2, 10, 0, 0)
 datetime.datetime(2017, 11, 25, 0, 0)
 datetime.datetime(2017, 12, 3, 0, 0)
 datetime.datetime(2017, 12, 30, 0, 0)
 datetime.datetime(2017, 7, 26, 0, 0) datetime.datetime(2017, 6, 15, 0, 0)
 datetime.datetime(2017, 7, 6, 0, 0) datetime.datetime(2017, 12, 28, 0, 0)
 datetime.datetime(2017, 1, 30, 0, 0) datetime.datetime(2017, 6, 26, 0, 0)
 datetime.datetime(2017, 8, 13, 0, 0) datetime.datetime(2017, 1, 25, 0, 0)
 datetime.datetime(2017, 7, 11, 0, 0) datetime.datetime(2017, 4, 30, 0, 0)
 datetime.datetime(2017, 5, 19, 0, 0) datetime.datetime(2017, 5, 26, 0, 0)
 datetime.datetime(2017, 2, 3, 0, 0) datetime.datetime(2017, 4, 28, 0, 0)
 datetime.datetime(2017, 3, 23, 0, 0) datetime.datetime(2017, 6, 3, 0, 0)
 datetime.datetime(2017, 5, 4, 0, 0) datetime.datetime(2017, 3, 29, 0, 0)
 datetime.datetime(2017, 10, 3, 0, 0) datetime.datetime(2017, 8, 7, 0, 0)
 datetime.datetime(2017, 2, 7, 0, 0) datetime.datetime(2017, 11, 20, 0, 0)
 datetime.datetime(2017, 4, 5, 0, 0) datetime.datetime(2017, 10, 28, 0, 0)
 datetime.datetime(2017, 8, 25, 0, 0) datetime.datetime(2017, 1, 20, 0, 0)
 datetime.datetime(2017, 3, 14, 0, 0) datetime.datetime(2017, 5, 24, 0, 0)
 datetime.datetime(2017, 11, 18, 0, 0) datetime.datetime(2017, 4, 7, 0, 0)
 datetime.datetime(2017, 1, 4, 0, 0) datetime.datetime(2017, 12, 13, 0, 0)
 datetime.datetime(2017, 4, 20, 0, 0) datetime.datetime(2017, 3, 7, 0, 0)
 datetime.datetime(2017, 8, 1, 0, 0) datetime.datetime(2017, 6, 19, 0, 0)
 datetime.datetime(2017, 1, 23, 0, 0) datetime.datetime(2017, 4, 19, 0, 0)
 datetime.datetime(2017, 8, 11, 0, 0)
 datetime.datetime(2017, 11, 15, 0, 0)
 datetime.datetime(2017, 11, 1, 0, 0) datetime.datetime(2017, 10, 5, 0, 0)
 datetime.datetime(2017, 10, 30, 0, 0) datetime.datetime(2017, 1, 2, 0, 0)
 datetime.datetime(2017, 7, 9, 0, 0) datetime.datetime(2017, 10, 20, 0, 0)
 datetime.datetime(2017, 11, 10, 0, 0)
 datetime.datetime(2017, 8, 14, 0, 0) datetime.datetime(2017, 9, 13, 0, 0)
 datetime.datetime(2017, 5, 3, 0, 0) datetime.datetime(2017, 1, 24, 0, 0)
 datetime.datetime(2017, 8, 3, 0, 0) datetime.datetime(2017, 8, 28, 0, 0)
 datetime.datetime(2017, 6, 24, 0, 0)
 datetime.datetime(2017, 10, 27, 0, 0) datetime.datetime(2017, 3, 3, 0, 0)
 datetime.datetime(2017, 12, 2, 0, 0)
 datetime.datetime(2017, 10, 15, 0, 0)
 datetime.datetime(2017, 10, 12, 0, 0)
 datetime.datetime(2017, 3, 19, 0, 0) datetime.datetime(2017, 6, 27, 0, 0)
 datetime.datetime(2017, 2, 27, 0, 0) datetime.datetime(2017, 3, 12, 0, 0)
 datetime.datetime(2017, 6, 14, 0, 0) datetime.datetime(2017, 2, 17, 0, 0)
 datetime.datetime(2017, 9, 14, 0, 0) datetime.datetime(2017, 4, 17, 0, 0)
 datetime.datetime(2017, 5, 11, 0, 0) datetime.datetime(2017, 11, 3, 0, 0)
 datetime.datetime(2017, 10, 2, 0, 0)
 datetime.datetime(2017, 12, 10, 0, 0)
 datetime.datetime(2017, 5, 25, 0, 0) datetime.datetime(2017, 8, 26, 0, 0)
 datetime.datetime(2017, 9, 6, 0, 0) datetime.datetime(2017, 4, 24, 0, 0)
 datetime.datetime(2017, 12, 15, 0, 0)
 datetime.datetime(2017, 2, 12, 0, 0) datetime.datetime(2017, 7, 22, 0, 0)
 datetime.datetime(2017, 9, 26, 0, 0) datetime.datetime(2017, 12, 5, 0, 0)
 datetime.datetime(2017, 3, 31, 0, 0)
 datetime.datetime(2017, 11, 22, 0, 0)
 datetime.datetime(2017, 4, 29, 0, 0) datetime.datetime(2017, 7, 14, 0, 0)
 datetime.datetime(2017, 9, 8, 0, 0) datetime.datetime(2017, 4, 22, 0, 0)
 datetime.datetime(2017, 1, 11, 0, 0) datetime.datetime(2017, 8, 9, 0, 0)
 datetime.datetime(2017, 5, 29, 0, 0) datetime.datetime(2017, 6, 13, 0, 0)
 datetime.datetime(2017, 7, 28, 0, 0) datetime.datetime(2017, 4, 23, 0, 0)
 datetime.datetime(2017, 7, 4, 0, 0) datetime.datetime(2017, 10, 19, 0, 0)
 datetime.datetime(2017, 9, 21, 0, 0) datetime.datetime(2017, 4, 2, 0, 0)
 datetime.datetime(2017, 8, 18, 0, 0) datetime.datetime(2017, 8, 21, 0, 0)
 datetime.datetime(2017, 3, 6, 0, 0) datetime.datetime(2017, 1, 16, 0, 0)
 datetime.datetime(2017, 2, 22, 0, 0) datetime.datetime(2017, 3, 9, 0, 0)
 datetime.datetime(2017, 1, 27, 0, 0)
 datetime.datetime(2017, 12, 19, 0, 0)
 datetime.datetime(2017, 4, 16, 0, 0) datetime.datetime(2017, 10, 4, 0, 0)
 datetime.datetime(2017, 2, 16, 0, 0) datetime.datetime(2017, 8, 17, 0, 0)
 datetime.datetime(2017, 2, 1, 0, 0) datetime.datetime(2017, 12, 8, 0, 0)
 datetime.datetime(2017, 8, 23, 0, 0) datetime.datetime(2017, 5, 12, 0, 0)
 datetime.datetime(2017, 3, 4, 0, 0) datetime.datetime(2017, 5, 28, 0, 0)
 datetime.datetime(2017, 7, 20, 0, 0) datetime.datetime(2017, 7, 13, 0, 0)
 datetime.datetime(2017, 10, 14, 0, 0)
 datetime.datetime(2017, 6, 12, 0, 0) datetime.datetime(2017, 2, 14, 0, 0)
 datetime.datetime(2017, 2, 11, 0, 0)
 datetime.datetime(2017, 10, 23, 0, 0)
 datetime.datetime(2017, 6, 28, 0, 0) datetime.datetime(2017, 6, 4, 0, 0)
 datetime.datetime(2017, 4, 18, 0, 0) datetime.datetime(2017, 9, 16, 0, 0)
 datetime.datetime(2017, 5, 15, 0, 0) datetime.datetime(2017, 5, 22, 0, 0)
 datetime.datetime(2017, 6, 6, 0, 0) datetime.datetime(2017, 12, 9, 0, 0)
 datetime.datetime(2017, 7, 18, 0, 0) datetime.datetime(2017, 2, 6, 0, 0)
 datetime.datetime(2017, 11, 9, 0, 0) datetime.datetime(2017, 6, 21, 0, 0)
 datetime.datetime(2017, 7, 17, 0, 0)
 datetime.datetime(2017, 10, 29, 0, 0)
 datetime.datetime(2017, 5, 13, 0, 0) datetime.datetime(2017, 10, 6, 0, 0)
 datetime.datetime(2017, 2, 4, 0, 0) datetime.datetime(2017, 11, 5, 0, 0)
 datetime.datetime(2017, 2, 8, 0, 0) datetime.datetime(2017, 11, 6, 0, 0)
 datetime.datetime(2017, 9, 20, 0, 0) datetime.datetime(2017, 4, 10, 0, 0)
 datetime.datetime(2017, 11, 17, 0, 0)
 datetime.datetime(2017, 12, 7, 0, 0)
 datetime.datetime(2017, 12, 12, 0, 0)
 datetime.datetime(2017, 1, 19, 0, 0) datetime.datetime(2017, 5, 17, 0, 0)
 datetime.datetime(2017, 2, 19, 0, 0) datetime.datetime(2017, 9, 19, 0, 0)
 datetime.datetime(2017, 9, 29, 0, 0) datetime.datetime(2017, 5, 18, 0, 0)
 datetime.datetime(2017, 7, 1, 0, 0) datetime.datetime(2017, 12, 29, 0, 0)
 datetime.datetime(2017, 11, 24, 0, 0) datetime.datetime(2017, 1, 8, 0, 0)
 datetime.datetime(2017, 8, 24, 0, 0) datetime.datetime(2017, 7, 12, 0, 0)
 datetime.datetime(2017, 8, 8, 0, 0) datetime.datetime(2017, 2, 5, 0, 0)
 datetime.datetime(2017, 7, 16, 0, 0) datetime.datetime(2017, 9, 27, 0, 0)
 datetime.datetime(2017, 1, 14, 0, 0) datetime.datetime(2017, 3, 28, 0, 0)
 datetime.datetime(2017, 8, 29, 0, 0) datetime.datetime(2017, 9, 24, 0, 0)
 datetime.datetime(2017, 10, 31, 0, 0)
 datetime.datetime(2017, 12, 24, 0, 0) datetime.datetime(2017, 9, 3, 0, 0)
 datetime.datetime(2017, 9, 17, 0, 0) datetime.datetime(2017, 8, 5, 0, 0)
 datetime.datetime(2017, 6, 18, 0, 0) datetime.datetime(2017, 9, 7, 0, 0)
 datetime.datetime(2017, 9, 25, 0, 0) datetime.datetime(2017, 6, 1, 0, 0)
 datetime.datetime(2017, 11, 26, 0, 0)
 datetime.datetime(2017, 9, 11, 0, 0) datetime.datetime(2017, 1, 6, 0, 0)
 datetime.datetime(2017, 12, 26, 0, 0) datetime.datetime(2017, 3, 2, 0, 0)
 datetime.datetime(2017, 5, 30, 0, 0) datetime.datetime(2017, 6, 25, 0, 0)]
online_order
[False True nan]
order_status
['Approved' 'Cancelled']
brand
['Solex' 'Trek Bicycles' 'OHM Cycles' 'Norco Bicycles' 'Giant Bicycles'
 'WeareA2B' nan]
product_line
['Standard' 'Road' 'Mountain' 'Touring' nan]
product_class
['medium' 'low' 'high' nan]
product_size
['medium' 'large' 'small' nan]
list_price
[71.49 2091.47 1793.43 1198.46 1765.3 1538.99 60.34 1292.84 1071.23
 1231.15 574.64 71.16 1057.51 1661.92 1555.58 1311.44 499.53 1362.99
 1469.44 360.4 642.31 1403.5 1720.7 544.05 1415.01 1842.92 1769.64 2083.94
 1289.85 1894.19 1163.89 1151.96 235.63 642.7 1240.31 1635.3 227.88 363.01
 100.35 1458.17 1977.36 12.01 1216.14 1129.13 183.86 912.52 175.89 1073.07
 1179 958.74 792.9 290.62 752.64 478.16 1024.66 1945.43 441.49 533.51
 569.56 1148.64 495.72 1992.93 1812.75 945.04 358.39 1873.97 1810 1775.81
 1777.8 795.34 575.27 1172.78 1065.03 1807.45 1942.61 1274.93 1890.39
 980.37 416.98 1386.84 742.54 230.91 688.63 748.17 1466.68 1656.86 202.62
 1036.59 1228.07 774.53 586.45 1762.96 2005.66 1483.2 590.26 1703.52
 1577.53 1636.9 1280.28 1061.56 850.89 710.59 543.39 1227.34 1972.01
 311.54 205.84 605.54 756.31 850 571.27 294.35 149.3 447.25 1348.41
 1021.43 1163.77 1294.66 638.29 1202.34 326.86 814.86 1102.68 1880.4
 1541.62 639.38 402.14 710.55 1142.89 813.6 1833.17 1285.47 1678.71 437.51
 366.22 1199.26 1888.45 237.44 317.3 1527.25 1563.94 1146.42 1192.33
 1672.07 1099.68 1281.6 1220.66 1061.92 1502.93 398.08 101.55 1957.87
 1095.66 1776.08 752.36 172.09 1740.16 1734.3 240.72 1958.34 330.36
 1709.26 60.72 1193.44 2037.77 1349.47 56.21 126.36 1300.96 1697.27 26.15
 875.99 1862.82 2028.26 678.25 890.28 1084.18 1107.08 1790.31 724.37
 1095.65 1223.24 541.44 470.07 2052.92 1817.13 1473.09 1480.76 2012.84
 1711.35 753.76 840.02 1922.94 1759.3 330.91 1029.36 1487.8 1624.69
 1719.95 899.52 554.38 960.51 1978.64 36.78 74.89 1091.51 695.23 1148.41
 750.25 1997.68 1392.76 1294.37 311.57 899.92 162.87 1678.51 1703.18
 675.28 487.8 1292.13 1578.52 922.15 122.74 435.66 1409.68 1315.16 1233.12
 758.73 405.94 1026.7 687.9 494.96 1181.89 465.71 880.3 1989.3 1413.98
 483.12 753.01 883.91 1216.4 32.44 16.08 1184 587.02 1919.23 1660.68
 1224.41 1535.84 150.51 2062.95 1689.63 1934.41 889.05 1617.32 1788.93
 2064.08 2020.14 489.58 2076.81 2061.38 877.44 1374.2 731.41 1034.17
 156.56 643.95 517.53 226.94 1196.65 634.57 1571.83 1999.54 1562.88
 1150.59 356.05 1780.22 1438.9 966.91 918.43 1541.1 1476.88 1023.39 310.57
 356.39 1695.42 877.6 1401.63 2086.07 1761.75 1615.62 744.54 1098.18
 868.56 1497.43 867.92]
standard_cost
[53.62 388.92 248.82 381.1 709.48 829.65 45.26 13.44 380.74 161.6 459.71
 56.93 154.4 1479.11 818.01 1167.18 388.72 57.74 596.55 270.3 513.85
 954.82 1531.42 376.84 1259.36 1105.75 108.76 675.03 74.51 598.76 589.27
 649.49 125.07 211.37 795.1 993.66 136.73 290.41 75.26 874.9 1759.85 7.21
 1082.36 677.48 137.9 141.4 131.92 933.84 707.4 748.9 594.68 215.14 205.36
 298.72 614.8 333.18 84.99 400.13 528.43 689.18 297.43 762.63 582.48
 507.58 215.03 863.95 1610.9 1580.47 820.78 101.58 431.45 1043.77 230.09
 778.69 nan 764.96 260.14 234.43 312.74 1234.29 667.4 173.18 612.88 448.9
 363.25 151.96 206.35 400.91 464.72 521.94 950.52 1203.4 99.59 525.33
 1516.13 826.51 44.71 829.51 733.58 407.54 770.89 312.7350159 270.2999878
 667.4000244]
product_first_sold_date
[41245 41701 36361 36145 42226 39031 34165 39915 33455 38216 40784 42172
 34527 34586 38193 37873 38206 33888 37337 36334 42145 42404 34079 41047
 42560 42710 41922 37539 42688 38991 38647 37874 34996 33549 38693 37668
 41533 41009 40553 39427 38482 35470 41434 36367 38750 41848 34244 42696
 38258 41167 40672 35707 42295 33552 35667 33879 40670 37626 38339 40303
 34143 35160 36668 36498 34071 40649 37823 36146 42105 34115 35052 33364
 42218 41345 33429 38859 nan 36833 37499 41064 33259 35560 37838 37698
 35378 38573 38002 39526 39880 40487 40336 40618 34170 40410 42458 39298
 35455 37220 37659 40779 34556]

# completeness
This is ensuring that all rows and columns are not null and have data

In [76]:
transactions.isna().sum()
#todo: do this for all the other data

0
transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

# consistency
This is ensuring that the values are free from contradiction